<div id="<%= dom_id job %>">
  <p>
    <strong>Job type:</strong>
    <%= job.job_type %>
  </p>
  <p>
    <strong>Job title:</strong>
    <%= job.job_title %>
  </p>
  <p>
    <strong>Job description:</strong>
    <%= job.job_description %>
  </p>
  <p>
    <strong>Job salary from:</strong>
    <%= job.job_salary_from %>
  </p>
  <p>
    <strong>Job salary to:</strong>
    <%= job.job_salary_to %>
  </p>
  <p>
    <strong>Location:</strong>
    <%= job.location %>
  </p>
</div>
